.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.main__title {
    color: white;
    font-size: 3.25rem;
    text-align: center;
}

.main__title span {
    text-shadow: 0 0 5px white;
}

.main__link-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__link {
    font-size: 1.5rem;
    color: white;
}

.main__link_unique {
    color: white;
}

.main__line {
    height: 30px;
    width: 2px;
    background-color: white;
    box-shadow: 0 0 5px white;
}

@media (max-width: 450px) {
    .main__container {
        align-items: center;
    }
    
    .main__link-box {
        width: 170px;
        row-gap: 10px;
    }

    .main__line {
        height: 2px;
        width: 30px;
        background-color: white;
        box-shadow: 0 0 5px white;
    }
}