.add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    background-color: rgba(151, 151, 151, 0.479);
    border-radius: 20px;
    padding: 20px;
}

.add-form__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.err-form {
    color: #ffffff;
    background: rgba(255, 0, 0, 0.507);
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}

.add-form__name,
.add-form__text {
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
}

.add-form__name {
    text-shadow: 0 0 10px rgb(0, 255, 255);
    color: rgb(0, 136, 136);
    pointer-events: none;
    cursor: default;
    outline: none;
    user-select: none; 
    width: 300px;
    padding: 11px 22px;
}

.add-form__text {
    padding: 22px;
    resize: none;
}

.add-form__row {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 24px;
}


.add-form__button {
    color: white;
    font-size: 24px;
    padding: 10px 50px;
    margin-left: auto;
    background-color: #1b1b1b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-form__button:hover {
    opacity: 0.9;
}

.form-logout {
    color: white;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}

.form-logout:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}
