.posts__title {
    color: white;
    font-size: 3rem;
    margin-top: 60px;
}

.posts__box-comm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.auth-post {
    color: white;
}

.auth-link {
    color: white;
}

@media (max-width: 650px) {
    .posts__title {
        margin-top: 30px;
    }

    .posts__box-comm {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}