.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.auth__container h3 {
    font-size: 52px;
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    background: rgba(161, 161, 161, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.auth-form__input {
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
    padding: 15px;
}

.auth-form__row {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 24px;
}

.auth-form__button {
    color: white;
    font-size: 24px;
    padding: 10px 50px;
    margin-left: auto;
    background-color: #1b1b1b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.auth-form__button:hover {
    opacity: 0.9;
}