.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.auth__container h3 {
    font-size: 3.25rem;
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    background: rgba(161, 161, 161, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.auth-form__input {
    font-size: 1rem;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
    padding: 15px;
}

.auth-form__row {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: end;
    margin-top: 24px;
}

.auth-form__button {
    color: white;
    font-size: 1.5rem;
    padding: 10px 50px;
    margin-left: auto;
    background-color: #1b1b1b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.auth-form__button:hover {
    opacity: 0.9;
}

@media (max-width: 650px) {
    .auth-form {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .auth-form {
        width: 260px;
    }

    .auth-form__button {
        padding: 10px 0;
        width: 100%;
    }

    .auth-form__row {
        justify-content: center;
        margin-top: 15px;
        gap: 15px
    }
}