* {
  margin: 0px;
  padding: 0px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Helvetica;
  background-image: linear-gradient(to right bottom, #c321fd, #a935fc, 
  #8d41f9, #7048f4, #504dee, #3465f7, #1379fd, 
  #008bff, #00b0ff, #00cfff, #00e9ec, #00ffc7);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

@media (max-width: 1430px) {
  .container {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
}

@media (max-width: 1150px) {
  .container {
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
  }
}

@media (max-width: 950px) {
  .container {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }
}

@media (max-width: 750px) {
  .container {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }
}

@media (max-width: 650px) {
  .container {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }

  html {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
}